.news-list-area{
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 0 15px;
    margin: 15px 0;
    display: block;
    float: left;
    width: calc(100% - 30px);
}

.news-list-area .row{
    border-top: 1px solid #ccc;
    padding-top: 15px;
    float: left;
    width: 100%;
}

.news-list-area .row:first-of-type{
    border-top: none;
}

.news-list-area a{
    text-decoration: none;
}


.news-list-area .h3.newst-title{
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
}

.blog-page-navigation{
    float: none;
    clear: both;
    display: block;
}

.blog-page-navigation ul{
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    font-size: 0;
    text-align: right;
}

.blog-page-navigation ul li{
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 0 1%;
    width: 48%;
}

.blog-page-navigation ul li > span,
.blog-page-navigation ul li > a{
    text-decoration: none;
    color: #333;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 6px 12px;
    float: left;
    line-height: 1.42857143;
    width: calc(100% - 24px);
}

.blog-page-navigation ul li.active a{
    background: #31b0d5;
    color: #fff;
}

.blog-page-navigation ul li > span:hover,
.blog-page-navigation ul li > a:hover{
    background: #eee;
}

.blog-page-navigation{
    width: 100%;
    text-align: center;
}

.blog-page-navigation .hidden-xs{
    display: none;
}

@media (min-width: 768px) {

    .blog-page-navigation{
        margin: 20px 0;
    }

}

@media screen and (max-width: 767px) {

    .news-list-area .h3.newst-title{
        font-size: 14px;
    }

    .blog-page-navigation ul li{
        width: calc(50% - 14px);
        text-align: center;
    }

    .blog-page-navigation ul li a{
        width: calc(100% - 30px);
    }

    .hidden-xs{
        display: none;
        margin: 0;
    }

}

@media screen and (max-width: 767px) and (orientation: landscape){

}