.block-title {
    position: relative;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1;
    z-index: 2;
}
h1.block-title { 
    text-align:center;
}

/* .block-title::after {
    content: "";
    display: block;
    border-top: 1px solid #c9c9d8;
    width: 60%;
    left: 20%;
    position: absolute;
    top: 13px;
    z-index: -2;
}

.block-title::before {
    width: 250px;
    z-index: -1;
    background: #fff;
    left: 50%;
    top: 5px;
    position: absolute;
    margin-left: -125px;
    height: 20px;
    content: "";
    display: block;
}

.block-title .word1 {
    color: #2db9dd;
} */

.choose-area .block-title {
    font-size: 24px;
    margin: 11px 0 30px;
    line-height: 1;
    font-weight: 500;
}

.choose-area .block-title::after,
.choose-area .block-title::before {
    display: none;
}

.choose-area .btn-group.bootstrap-select {
    width: 100%;
    min-width: 100%;
}

.choose-area .btn.btn-success {
    width: 100%;
    padding: 0 20px 0 0;
    vertical-align: middle;
    line-height: 30px;
}

.choose-area .fa.fa-sliders {
    float: left;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.15);
    line-height: 30px;
    width: 40px;
    display: block;
    text-align: center;
}

.choose-area .col-md-3 {
    padding: 6px 15px 6px 14px;
    border-right: 1px dashed #c9c9d8;
}

.choose-area .col-md-3:last-of-type {
    border-right: none;
}

.index-list .product-item .rating {
    bottom: 45px;
    left: 15px;
    position: absolute;
}

@media screen and (min-width: 768px) {
    .category-home > .col-lg-2 > a {
        min-height: 117px;
        display: flex;
        border-radius: 9px;
        background: #f2f2f2;
    }
}

@media screen and (min-width: 1200px) {
    .index-list .product-item a.piiw {
        min-height: 267px;
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .choose-area .col-md-3 {
        border-right: none;
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .block-title {
        margin: 20px 0 10px 0;
        font-size: 18px;
        line-height: 1;
    }
    .category-home > .col-lg-2 > a {
        min-height: 90px;
        display: block;
    }
    .index-list .product-item a.piiw {
        min-height: 177px;
        display: block;
    }
    html body .category-home > .col-lg-2 img.img-responsive {
        width: auto;
        height: 55px;
        max-width: none;
        margin-left: auto;
        margin-right: auto;
    }
    .index-list .product-item .item-images {
        z-index: 4;
    }
    .index-list {
        position: relative;
        background: #fff;
    }
    /* .index-list::after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border: 1px solid #aeaeae;
        z-index: 1;
        content: "";
        display: block;
    } */
    .index-list .product-item .piiw img {
        border: none;
    }
    .index-list .product-item {
        position: relative;
        overflow: hidden;
        z-index: 2;
    }
    /* .index-list .product-item::after {
        content: "";
        border: 1px solid #aeaeae;
        bottom: 0;
        right: 0;
        left: -1px;
        top: -1px;
        position: absolute;
        display: block;
        z-index: 3;
    } */
    .index-list .product-item a,
    .index-list .product-item button {
        position: relative;
        z-index: 4;
    }
    .in_main .category-home > div {
        background: #fff;
        width: calc(50% - 10px);
        margin-left: 5px;
        margin-right: 5px;
    }
    .in_main .index-list > .product-item .item-scu {
        margin-bottom: 0;
    }
    .in_main .index-list > .product-item .item-scu > span {
        display: block;
        width: 90px;
        margin: 5px 0 0;
    }
    .in_main .category-home > .col-lg-2 > a h2 {
        font-size: 13px;
        margin-top: 15px;
    }
    .in_main #columns {
        background: #f0f0f0;
        margin: 0;
        padding-bottom: 30px;
    }
    .index-list .product-item .item-links,
    .index-list .product-item .item-prices {
        width: 100%;
        text-align: left;
    }
    .index-list .product-item .item-links .btn {
        left: 15px;
        bottom: 15px;
        border-radius: 3px;
        position: absolute;
        width: calc(100% - 30px);
        display: block;
        text-align: center;
        box-sizing: border-box;
    }
    .index-list .product-item .item-links {
        bottom: auto;
        right: auto;
        left: auto;
        position: static;
    }

    .index-list .product-item .item-prices {
        bottom: 85px;
    }
    .index-list .product-item {
        padding-bottom: 135px;
    }
    .index-list .product-item .rating {
        bottom: 80px;
    }
    .index-list .product-item .item-title {
        overflow: hidden;
    }
    .index-list .product-item .item-links .btn {
        margin: 15px auto 0;
        float: none;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .index-list > div {
        width: 25%;
    }
    .in_main .category-home > div {
        width: calc(33.333% - 10px);
    }
    .index-list .product-item {
        width: 25%;
    }
}