.modal-preorder.bx-filter{
    border-radius: 6px;
    max-width: 600px;
    padding: 0;
}

.modal-preorder.bx-filter .modal-title{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    margin: 0;
    display: block;
}

.modal-preorder.bx-filter .filters-wrapper .button-close-filters{
    top: 22px;
    right: 15px;
}

.modal-preorder.bx-filter .filters-wrapper .btn.btn-block.btn-large{
    width: 66%;
    margin: 20px auto;
    float: none;
    clear: both;
    cursor: pointer;
}

.modal-preorder.bx-filter .result.result-error,
.modal-preorder.bx-filter .result.result-success{
    border-radius: 4px;
    padding: 15px 15px;
    background-color: #d6e9c6;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    margin: 20px 15px 0 15px;
	white-space: normal;
}

.modal-preorder.bx-filter .result.result-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.modal-preorder.bx-filter .filters-wrapper .consent-processing{
    float: none;
    clear: both;
    width: 100%;
}

.modal-preorder.bx-filter .filters-wrapper{
    margin-top: 0;
    padding: 0;
}

.modal-preorder.bx-filter .filters-wrapper input[type="email"],
.modal-preorder.bx-filter .filters-wrapper input[type="text"]{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-sizing: border-box;
    width: calc(100% - 80px);
}

.modal-preorder.bx-filter .filters-wrapper .form-group{
    display: flex;
    align-items: center;
    width: calc(100% - 30px);
    margin: 20px 15px 0 15px;
}

.modal-preorder.bx-filter .filters-wrapper .form-group .input-group-addon{
    width: 40px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0;
    background: #eee;
}

.modal-preorder.bx-filter .filters-wrapper .form-group .input-group-addon:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
}

.modal-preorder.bx-filter .filters-wrapper .form-group .input-group-addon:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
}

.catalog-section-list{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    position: relative;
}

.catalog-section-list .product-item-container{
    align-self: flex-start;
    width: 100%;
    position: relative;
    padding: 0 0 120px 0;
    border-bottom: 1px solid #e8e8e8;
}

.catalog-section-list .product-detail{
    margin: 0;
}

.catalog-section-list .product-detail .product-image{
    padding: 0;
}

.catalog-section-list .product-detail .product-image,
.catalog-section-list .product-detail .item_price{
    border: none;
}

.catalog-section-list .product-detail .item_price .btn.btn-buy,
.catalog-section-list .product-detail .item_price .btn.btn-preorder,
.catalog-section-list .product-detail .item_price .item-price{
    position: absolute;
    left: 0;
    bottom: 86px;
    right: 0;
}

.catalog-section-list .product-detail .item_price .btn.btn-preorder,
.catalog-section-list .product-detail .item_price .btn.btn-buy{
    bottom: 35px;
    width: 66%;
    margin: 0 auto;
}

.catalog-section-list .product-detail .item_price .btn.btn-block.btn-large.btn-preorder:hover,
.catalog-section-list .product-detail .item_price .btn.btn-block.btn-large.btn-preorder{
    background: #d9534f;
    border-color: #d43f3a;
    cursor: pointer;
}

.catalog-section-list .product-detail h2,
.catalog-section-list .product-detail h2 a{
    font-size: 15px;
    font-weight: normal;
    line-height: 1.35;
    padding: 0;
    margin: 0;
    color: #202326;
    white-space: normal;
}

.catalog-section-list .product-detail h2{
    display: block;
    padding: 15px 15px 5px 15px;
    height: 37px;
    overflow: hidden;
}

.catalog-section-list .product-item-container .product-image{
    margin: 0;
}

.catalog-section-list .product-detail .item-price{
    min-height: 34px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    color: #2db9dd;
    width: calc(100% - 30px);
    margin: 0;
    padding: 0 15px;
    text-align: left;
}

.catalog-section-list .product-detail .btn.btn-block.btn-large{
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
    float: none;
    margin: 0 auto;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding: 6px 12px;
    font-weight: normal;
    border-radius: 3px;
    height: auto;
    display: inline-block;
    min-width: 124px;
}

.catalog-section-list .product-detail .item_price{
    margin: 0;
    padding: 0;
}
   
.catalog-section{
    border-top: 1px solid #e8e8e8;
}

.catalog-section-list .product-item-container{
    background: #fff;
}

.catalog-section .catalog-section-list .product-item-container{
    padding-top: 15px;
    margin: 0;
    border-top: 1px solid #e8e8e8;
}

.catalog-section > amp-carousel > div:first-of-type{
    width: 100%;
}

.new-product-title{
    line-height: 1;
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
    padding: 15px;
}


html .new-product-title{
	margin-top: 0;
	margin-bottom: 0;
}

@media screen and (max-width: 767px) {

    main .catalog-section-list .product-item-container .product-image{
        padding: 0 20%;
        box-sizing: border-box;
    }

     
}

@media screen and (max-width: 767px) and (orientation: landscape) {

    .catalog-section-list .product-item-container{
        width: calc(25% - 2px);
        border-right: 1px solid #e8e8e8;
    }

    .catalog-section-list .product-item-container:nth-of-type(4n){
        border-right: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){

    main .catalog-section-list .product-item-container .product-image{
        padding: 0 20%;
        box-sizing: border-box;
    }

    .catalog-section-list .product-item-container{
        width: calc(33.333% - 2px);
        border-right: 1px solid #e8e8e8;
    }

    .catalog-section-list .product-item-container:nth-of-type(3n){
        border-right: none;
    }

}


@media screen and (min-width: 992px){

    main .catalog-section-list .product-item-container .product-image{
        padding: 0 20%;
        box-sizing: border-box;
    }

    .catalog-section-list .product-item-container{
        width: calc(25% - 2px);
        border-right: 1px solid #e8e8e8;
    }

    .catalog-section-list .product-item-container:nth-of-type(4n){
        border-right: none;
    }
 
}

@media screen and (min-width: 1280px){

    .catalog-section .catalog-section-list .product-item-container{
        width: calc(16.666% - 2px);
        border-right: 1px solid #e8e8e8;
    }

    .catalog-section-list .product-item-container:nth-of-type(6n){
        border-right: none;
    }


}

@media screen and (min-width: 1440px){

    .catalog-section .catalog-section-list .product-item-container{
        width: calc(12.5% - 2px);
        border-right: 1px solid #e8e8e8;
    }

    .catalog-section-list .product-item-container:nth-of-type(8n){
        border-right: none;
    }

}
