.services ::-webkit-input-placeholder {
    font-weight: normal;
    color: #ссс;
}

.services ::-moz-placeholder {
    font-weight: normal;
    color: #ссс;
}

.services :-moz-placeholder {
    font-weight: normal;
    color: #ссс;
}

.services :-ms-input-placeholder {
    font-weight: normal;
    color: #ссс;
}

.services .container-fluid{
    float: none;
    clear: both;
    display: block;
    margin-bottom: 15px;
    padding: 0;
}

.services .container-fluid textarea{
    max-width: 100%;
}

.services .all-price-list{
    margin: 60px 0 40px 0;
    text-align: center;
}

.services .iblock_submit_top.btn.btn-info{
    font-size: 24px;
    line-height: 45px;
    border-radius: 0;
    font-weight: bold;
    padding: 0 70px;
    display: inline-block;
}

.services .container-fluid label{
    cursor: pointer;
    font-weight: normal;
}

.services .container-fluid .hint-area,
.services .container-fluid .input-label{
    font-weight: normal;
    color: #383838;
    font-size: 14px;
    padding-top: 9px;
    cursor: pointer;
}

.services .container-fluid .hint-area{
    color: #a3a9ad;
    font-style: italic;
}

.services .container-fluid .input-text{
    padding: 0;
}

.services .before-text{
    margin-bottom: 77px;
    text-align: center;
    font-size: 14px;
}

.services .alert .error{
    display: inline;
    background: none;
    padding: 0;
    border: none;
    box-shadow: none;
}

.services .alert p{
    margin: 0;
}

.services  .row-property.property-133{
        display: none!important;
}

