@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700&subset=cyrillic,cyrillic-ext,latin-ext");

html body #rulesModal .modal-body {
    max-height: 80vh;
    overflow: auto;
}

html,
body {
    font:
        normal normal 13px/1.42 "Roboto",
        Arial,
        sans-serif;
}

header {
    border-bottom: 4px solid #15aad2;
    margin-bottom: 25px;
}

header .lia {
    padding: 5px 0;
}

header .la {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .pa {
    text-align: right;
}

header .pa .phone {
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
}

header .pa .phone,
header .pa .phone + p {
    margin-bottom: 0;
}

html #wait_page {
    background: url(../images/loading.gif) rgba(255, 255, 255, 0.3) center center no-repeat !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 100% !important;
    float: left;
    border: none !important;
    text-indent: -999em;
    z-index: 1000;
    position: fixed !important;
}
body.modal-open #passcodeModal {
    padding-top: 10%;
    backdrop-filter: blur(8px);
}