@media screen and (max-width: 991px) {
    .la {
        padding-block-start: 10px;
        column-gap: 10px;
    }
    .lia img {
        height: 40px;
    }
    .pa {
        padding: 5px 0 5px 0 !important;
    }
    .pa .aw {
        display: none;
    }
    header .pa .phone {
        font-size: 20px;
    }
    body.modal-open #passcodeModal {
        padding-top: 40%;
        backdrop-filter: blur(8px);
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (max-width: 1199px) {
}

@media screen and (min-width: 1200px) {
}