div.news-detail {
    word-wrap: break-word
}

div.news-detail img.detail_picture {
    float: left;
    margin: 0 8px 6px 1px
}

.news-date-time {
    color: #486daa
}

.products-list-info {
    display: flex;
    flex-wrap: wrap;
}

body.pos_page.brand h1 {
}

.products-list-info .product-item .rating {
    bottom: 45px;
    left: 15px;
    position: absolute;
}

@media screen and (min-width:992px) {
    body.pos_page.brand .bcb.row {
        margin-left: 0!important
    }
}

@media screen and (max-width:767px) {
    .products-list-info.col-xs-12 {
        padding-left: 0;
        padding-right: 0
    }
    .about-model-info {
        margin-bottom: 30px
    }
    .products-list-info .product-item {
        width: 50%;
        padding-bottom: 15px
    }
    .products-list-info .product-item .item-scu {
        margin-bottom: 0
    }
    .products-list-info .product-item .item-scu>span {
        margin: 5px 0 0 0
    }
    html .products-list .item-text {
        display: none!important
    }
    .products-list-info .product-item {
        padding-bottom: 85px
    }
    .products-list-info .product-item .item-links {
        position: static;
        right: auto;
        bottom: auto
    }
    .products-list-info .product-item .item-links .btn {
        left: 15px;
        bottom: 15px;
        border-radius: 3px;
        position: absolute;
        width: calc(100% - 30px);
        display: block;
        text-align: center;
        box-sizing: border-box
    }

    .products-list-info .product-item .rating {
        bottom: 80px;
    }

    .products-list-info .product-item .item-prices {
        bottom: 60px
    }
    .products-list-info .product-item .item-links,
    .products-list-info .product-item .item-prices {
        width: 100%;
        margin-top: 10px;
        text-align: left
    }
    .product-item .item-desc .item-text {
        display: none
    }
    .blog-page-navigation,
    ul.pagination {
        display: block;
        width: 100%;
        text-align: right
    }
    html .pagination>li {
        display: inline-block;
        width: 48%;
        margin: 0 1%
    }
    .pagination li a {
        display: block;
        width: 100%;
        text-align: center
    }
}

@media screen and (max-width:767px) and (orientation:landscape) {
    .products-list-info .product-item {
        width: 33.33333%
    }
}

#smart_filter,
#smart_filter>div {
    float: none;
    clear: both
}

#smart_filter .currently-selected,
#smart_filter .filter-parameters-box {
    margin-bottom: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 4px
}

#smart_filter .filter-parameters-content {
    padding: 15px 0 15px 0
}

#smart_filter .filter-parameters-content.filter-collapse {
    padding-bottom: 35px
}

#smart_filter .filter-parameters-content a {
    display: block;
    padding: 5px 25px 5px 45px;
    float: none;
    clear: both;
    color: #383838;
    text-decoration: none;
    position: relative
}

#smart_filter .currently-selected a::after,
#smart_filter .filter-parameters-content a::before,
#smart_filter .filter-parameters-content>p span::after,
#smart_filter .filter-title::after {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f096"
}

#smart_filter .filter-title.filter-collapsed::after {
    content: "\f106"
}

#smart_filter .filter-parameters-content a::before {
    color: #ccc;
    position: absolute;
    left: 15px;
    top: 8px
}

#smart_filter .filter-parameters-content a.checked::before {
    content: "\f046";
    color: #4589ce
}

#smart_filter .filter-title {
    margin: 0;
    padding: 14px 25px 15px 15px;
    color: #383838;
    font-weight: 700;
    position: relative;
    cursor: pointer
}

#smart_filter .filter-title::after {
    content: "\f107";
    color: #ccc;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 18px
}

#smart_filter .currently-selected a {
    border-top: 1px solid #e8e8e8;
    display: block;
    padding: 14px 25px 15px 15px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: #383838
}

#smart_filter .currently-selected a:hover {
    background: #e8e8e8
}

#smart_filter .currently-selected a:first-of-type {
    border-top: none
}

#smart_filter .currently-selected a::after {
    content: "\f00d";
    position: absolute;
    right: 15px;
    top: 16px
}

#smart_filter .filter-parameters-content {
    position: relative;
    border-top: 1px solid #e8e8e8
}

#smart_filter .filter-parameters-content>p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0 15px 10px 25px;
    cursor: pointer;
    background: #fff
}

#smart_filter .filter-parameters-content>p span {
    color: #4589ce;
    border-bottom: 1px dotted #4589ce;
    margin-left: 20px
}

#smart_filter .filter-parameters-content>p span::after {
    content: "\f107";
    height: 14px;
    width: 14px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 50%;
    color: #ccc;
    line-height: 14px;
    position: absolute;
    left: 14px;
    top: 3px;
    display: flex;
    align-items: center;
    justify-content: center
}

#smart_filter .filter-parameters-content.filter-expanded>p span:first-of-type,
#smart_filter .filter-parameters-content>p span:first-of-type+span {
    display: none
}

#smart_filter .filter-parameters-content.filter-expanded>p span+span {
    display: inline
}

#smart_filter .filter-parameters-content[data-collapse-number] {
    max-height: 326px;
    overflow: hidden
}

#smart_filter .filter-parameters-content.filter-expanded[data-collapse-number] {
    max-height: none;
    overflow: visible
}

#smart_filter .filter-parameters-content,
#smart_filter .filter-parameters-content *,
#smart_filter .filter-title {
    outline: 0 none;
    user-select: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent
}

@media screen and (max-width:767px) {
    
    body.pos_page.brand h1 {
        font-size: 22px;
        padding: 0 15px;
    }
    
    .about-model-download>.col-sm-6:first-of-type {
        min-height: 354px
    }
    html body .filter-parameters-box:not(.expanded) .filter-parameters-content {
        display: none
    }
}

@media screen and (min-width:992px) {
    #filterModal.modal.fade,
    #filterModal.modal.fade .modal-body,
    #filterModal.modal.fade .modal-content,
    #filterModal.modal.fade .modal-dialog {
        display: block;
        position: static;
        left: auto;
        right: auto;
        bottom: auto;
        top: auto;
        visibility: visible;
        opacity: 1;
        margin: 0;
        overflow: visible;
        width: 100%;
        height: auto;
        transform: none;
        background: 0 0;
        box-shadow: none;
        border: none;
        border-radius: 0;
        padding: 0
    }
    #filterModal.modal.fade .modal-dialog button.close,
    #filterModal.modal.fade .modal-header {
        display: none
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    #smart_filter>.btn {
        width: 100%;
        margin-bottom: 15px
    }
}

@media screen and (max-width:991px) {
    #filterModal.modal.fade.in {
        justify-content: normal!important;
        align-items: normal!important;
        display: block!important;
        z-index: 111000
    }
    #filterModal.modal.fade.in .modal-dialog .filter-parameters-box {
        margin-bottom: 0;
        border-radius: 0
    }
    #filterModal.modal.fade.in .modal-dialog .filter-parameters-box:not(:last-of-type) {
        border-bottom: none
    }
    #filterModal.modal.fade.in .modal-dialog button.close {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 1055;
        font-size: 28px
    }
}

@media screen and (min-width:1200px) {
    .product-item .item-images a.piiw{
        display: block;
        min-height: 253px;
    }

    .about-model-download > .col-sm-6{
        min-height: 236px;
    }
}