h1.section-title {
	margin-bottom: 30px;
}

.category-images > .row {
	margin-bottom: 16px;
}

.category-images > .row.clearfix::after,
.category-images > .row.clearfix::before {
	display: none;
}

.category-images > .row > div {
	background: #fff;
	margin-bottom: 16px;
	-webkit-box-shadow: 0 0 4px 0 rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 0 0 4px 0 rgba(50, 50, 50, 0.25);
	box-shadow: 0 0 4px 0 rgba(50, 50, 50, 0.25);
}

.category-images > .row > div .element {
	padding-top: 15px;
	padding-bottom: 15px;
}

.category-images > .row > div .element,
.category-images > .row > div .element > a {
	display: flex;
	align-items: center;
	text-decoration: none;
	/* word-wrap: break-word; */
}

.category-images > .row > div .element img {
	/*width: 60px;*/
	height: auto;
	margin-right: 15px;
}

.category-images > .row > div .element h2,
.category-images > .row > div .element h2 a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 13px;
	color: #383838;
}

.category-images > .row > div .element h2 {
	width: calc(100% - 75px);
}

@media screen and (min-width: 1200px) {
	.category-images > .row > div .element > a {
		min-height: 60px;
	}
}

@media screen and (min-width: 992px) {
	.category-images > .row {
		display: flex;
		flex-wrap: wrap;
	}
	.category-images > .row > div {
		margin-left: 15px;
		margin-right: 15px;
		padding-left: 0;
		padding-right: 0;
		width: calc(25% - 30px);
	}
	.category-images > .row > div > div {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width: 991px) {
	.category-images > .row {
		display: flex;
		flex-wrap: wrap;
	}
	.category-images > .row > div {
		margin-left: 15px;
		margin-right: 15px;
		padding-left: 0;
		padding-right: 0;
		width: calc(50% - 30px);
	}
	.category-images > .row > div > div {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width: 767px) {
	.category-images > .row > div .element > a {
		min-height: 60px;
	}
	.category-images > .row > div .element > a > h2 {
		font-size: 12px;
	}
	.category-images > .row > div {
		margin-left: 5px;
		margin-right: 5px;
		padding-left: 0;
		padding-right: 0;
		width: calc(50% - 10px);
	}
}

@media screen and (max-width: 767px) and (orientation: landscape) {
	.category-images > .row {
		display: flex;
		flex-wrap: wrap;
	}
	.category-images > .row > div {
		margin-left: 15px;
		margin-right: 15px;
		padding-left: 0;
		padding-right: 0;
		width: calc(50% - 30px);
	}
	.category-images > .row > div > div {
		padding-left: 15px;
		padding-right: 15px;
	}
}
