@media screen and (max-width: 767px) {
	.choose-sarea .col-md-2 .btn{
		margin-top: 15px;
	}
}

.choose-sarea{
	margin-top: 30px;
	margin-bottom: 30px;
}

.choose-sarea .col-md-2 .btn{
	display: block;
	width: 100%;
}