.kit-area.loading::after{
    background: url(/bitrix/templates/npersonal/images/loading.gif) rgba(255,255,255,0.3) center center no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 10;
    display: block;
    content: "";
}

.kit-area .slick-arrow{
    position: absolute;
    top: 50%;
    text-indent: -999em;
    color: transparent;
    font-size: 0;
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 50%;
    border: none;
    background: rgba(255,255,255,0.7);
    margin-top: -15px;
    z-index: 50;
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    align-items: center;
    justify-content: center;
}

.kit-area .slick-arrow::after{
    position: relative;
    top: 1px;
    display: block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e258";
    font-size: 15px;
    color: #ccc;
}

.kit-area .slick-arrow.slick-next{
    right: 15px;
}

.kit-area .slick-arrow.slick-prev{
    left: 15px;
}

.kit-area .slick-arrow.slick-prev::after{
    content: "\e257";
}

.kit-area .slick-list,
.kit-area .slick-slider,
.kit-area .slick-track{
    display: flex;
}

.kit-area .slick-list::after,
.kit-area .slick-slider::after,
.kit-area .slick-track::after,
.kit-area .slick-list::before,
.kit-area .slick-slider::before,
.kit-area .slick-track::before{
    display: none;
    visibility: hidden;
}

.kit-area{
    position: relative;
}

.kit-area .kit{
    border: 1px solid #e8e8e8;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.kit-area .kit::after,
.kit-area .kit::before{
    display: none;
}

.kit-area .product-item .item-images{
    position: relative;
    align-self: center
}

.kit-area .product-item .item-images img{
    margin: 0 auto;
    max-width: 200px;
}

.kit-area .product-item .item-images .old-bage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background: #f02424;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: 12;
}

.kit-area .product-item{
    padding: 10px 15px 10px 15px;
    border-top: none;
    display: block;
    width: 25%;
    position: relative;
    align-self: normal;
}

.kit-area .product-item::after{
    content: "";
    /*border: 1px solid #e8e8e8;*/
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: -1px;
    z-index: -1;
}

.kit-area .product-item .item-scu{
    color: #a5a5a5;
    font-size: 13px;
    margin-bottom: 20px;
    text-align: left;
}

.kit-area .product-item .item-scu span{
    background: #86b817;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    line-height: 1;
    padding: 5px 4px 3px 4px;
}

.kit-area .product-item .item-title a{
    text-decoration: none;
    color: #202326;
    font-weight: bold;
    line-height: 1.35;
    padding: 0;
    margin: 0;
    display: block;
    font-size: 15px;
}

.kit-area .product-item .item-text a{
    color: #a3a9ad;
    text-decoration: none;
}

.kit-area .product-item .item-prices{
    line-height: 16px;
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: calc(50% - 15px);
}

.kit-area .product-item .item-prices .item-price{
    font-size: 16px;
    color: #15aad2;
    font-weight: bold;
    display: block;
}

.kit-area .product-item .item-prices .item-old{
    font-size: 14px;
    color: #a3a9ad;
    text-decoration: line-through;
    display: block;
    margin-bottom: 5px;
}

.kit-area .product-item .item-links .btn{
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.kit-area .product-item .item-links{
    text-align: right;
    position: absolute;
    right: 15px;
    bottom: 10px;
    width: calc(50% - 15px);
}

.kit-area .product-item .in-stock{
    color: #383838;
    padding-left: 12px;
}

.kit-area .product-item .in-stock-label{
    display: none;
}

.kit-area .product-item .item-images{
    text-align: center;
}

.kit-area .product-item .item-images .btn{
    margin-top: 15px;
}

#spagination{
    margin: 25px 0 0 0;
    display: flex;
    width: 100%;

}

#spagination .pagination{
    margin: 0;
}

#spagination .pagination li:first-of-type a{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#spagination .pagination li:last-of-type a{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#spagination .blog-page-navigation{
    text-align: right;
}

#spagination .bootstrap-select{
    max-width: 64px;
}

#spagination .bootstrap-select .btn{
    border-radius: 3px;
}

#spagination .count form{
    padding-left: 15px;
    padding-right: 15px;
}

#spagination .count form{
    width: 94px;
}

#spagination .count{
    display: flex;
    align-items: center;
}

#spagination .bootstrap-select .btn:after{
    display: none;
}

#spagination .bootstrap-select .btn .caret{
    border: none;
    margin-top: 0;
    top: 5px;
    right: 20px;
}

#spagination .bootstrap-select .btn .caret::after{
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #2c2c2c;
}

.kit-area .product-item .list-group{
    margin-top: 15px;
}

.kit-area .product-item .list-group li{
    padding-top: 3px;
    padding-bottom: 3px;
}

@media screen and (max-width: 767px) {

    .kit-area .product-item .item-text{
        display: none!important;
    }

    .kit-area .product-item .item-links{
        left: auto;
        right: auto;
        position: static;
        text-align: left;
    }

    .kit-area .product-item .item-links .btn{
        left: 15px;
        bottom: 15px;
        border-radius: 3px;
        position: absolute;
        width: calc(100% - 30px);
        display: block;
        text-align: center;
        box-sizing: border-box;
    }

    .kit-area .product-item .rating {
        display: none;
    }

    .kit-area .product-item .item-prices{
        bottom: 60px;
    }

    .kit-area .product-item .item-links,
    .kit-area .product-item .item-prices{
        width: 100%;
        margin-top: 10px;
        text-align: left;
    }


    .kit-area .product-item .item-links .btn{
        margin-top: 0;
    }

    .kit-area .product-item .item-text a,
    .kit-area .product-item .item-title a {
        word-wrap: break-word;
    }


    .kit-area .product-item .item-links .btn{
        padding-left: 15px;
        padding-right: 15px;
    }

    .kit-area .product-item .item-scu span{
        margin-left: 0;
        margin-top: 5px;
        clear: both;
        display: block;
        max-width: 85px;
    }

    .kit-area .product-item{
        width: 100%;
    }

    #spagination .pagination,
    #spagination .blog-page-navigation{
        width: 100%;
    }

    #spagination .blog-page-navigation li{
        display: inline-block;
        width: 48%;
        margin: 0 1%;
    }

    #spagination .blog-page-navigation li a{
        display: block;
        width: 100%;
        text-align: center;
    }

}

@media screen and (max-width: 767px) and (orientation: landscape) {

    .kit-area .product-item{
        width: 33.33333%;
    }
}

@media screen and (min-width: 768px)
and (max-width: 1199px){

    .kit-area .product-item{
        width: 33.333%;
    }

}

@media screen and (max-width: 1199px) {

    #spagination .count form + span{
        display: none;
    }

}

