.sections-list{
	margin-top: 26px;
}

.sections-list ul,
.sections-list ul li,
.sections-list ul li h3,
.sections-list ul li h3 a{
	padding: 0;
	margin: 0;
	font-size: 14px;
	text-decoration: none;
	color: #383838;
}

.sections-list ul li h3{
	margin-bottom: 14px;
}

.sections-list > ul > li > ul > li > h3 > a{
	color: #0d54ab;
}

.sections-list ul > li > ul > li > ul{
	margin-left: 20px;
}

@media screen and (max-width: 767px) and (orientation: landscape){
	.sections-list > ul > li{
		width: 50%;
	}
}

@media screen and (max-width: 767px) {
	.sections-list{
		padding-left: 15px;
		padding-right: 15px;
	}
}
