.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
    position: static;
}
.products-list .slider-more {
    overflow: hidden !important;
}
.products-list .slider-more .swiper-slide {
    width: 100% !important;
}
#lpagination {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    outline: none !important;
}
.products-list {
    float: none;
    clear: both;
}
.acm {
    margin-bottom: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

.seo-text {
    margin-top: 30px;
}

.cma.col-md-3 {
    padding-right: 0;
}

.acm {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
}

.acm li,
.acm ul {
    margin: 0;
    padding: 0;
    display: block;
}

.acm li {
    border-top: 1px solid #e8e8e8;
}

.acm li:first-of-type {
    border-top: none;
}

.acm li a {
    font-size: 14px;
    color: #4c4c4c;
    padding: 14px 25px 15px 15px;
    display: block;
    text-decoration: none;
}

.acm a:hover {
    background: #e8e8e8;
    text-decoration: none;
}

.section-model-filter-wrapper .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn),
.section-model-filter-wrapper .btn.btn-success,
.section-model-filter-wrapper .form-control {
    width: 100%;
    margin-top: 15px;
}

.section-model-filter-wrapper .btn.btn-success,
.section-model-filter-wrapper .btn.btn-success:hover {
    position: relative;
    padding: 0 20px 0 0;
    line-height: 34px;
    vertical-align: middle;
}

.section-model-filter-wrapper .btn.btn-success .fa.fa-sliders {
    float: left;
    line-height: 34px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.15);
    width: 40px;
    display: block;
    text-align: center;
    vertical-align: middle;
}

.product-list.col-md-9 {
    padding-right: 0;
    padding-left: 20px;
}

.bdbw > div {
    min-height: 30px;
}

.bcb.row {
    margin-bottom: 20px;
}

.bcb .stwp {
    border-radius: 3px;
    display: block;
    clear: both;
    float: none;
    margin: 20px 0 0 0;
}

.bcb .info h1 {
    margin-top: 0;
}

.bcb .sort label {
    margin: 0;
    color: #a3a9ad;
    padding: 0;
    font-weight: 100;
    width: calc(100% - 114px);
    display: block;
    white-space: nowrap;
}

.bcb .sort .bootstrap-select {
    max-width: 114px;
}

.bcb .sort .bootstrap-select .btn {
    background: 0 0;
    border: none;
}

.bcb .sort .bootstrap-select .btn::after {
    display: none;
    opacity: 0;
}

.bcb .sort .bootstrap-select .btn .caret {
    border: none;
    top: 6px;
    margin-top: 0;
}

.bcb #compare-sort {
    display: flex;
    align-items: center;
    width: 100%;
}

.bcb #compare-sort .grid-list {
    width: 60px;
}

.bcb #compare-sort .grid-list a::after,
.bcb .sort .bootstrap-select .btn .caret::after {
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.bcb #compare-sort .sort {
    width: calc(100% - 60px);
    height: 30px;
    display: flex;
    align-items: center;
}

.bcb .sort .bootstrap-select .btn .caret::after {
    color: #2c2c2c;
}

.bcb #compare-sort .grid-list {
    text-align: right;
}

.bcb #compare-sort .grid-list a {
    color: #cbcbcb;
    margin-left: 15px;
    font-size: 14px;
    display: inline-block;
}

.bcb #compare-sort .grid-list a#grid-toogle:first-of-type {
    margin-left: 0;
}

.bcb #compare-sort .grid-list a#grid-toogle::after {
    content: "\f00a";
}

.bcb #compare-sort .grid-list a#list-toogle::after {
    content: "\f03a";
}

.bcb #compare-sort .grid-list a.active {
    color: #383838;
}

.cma {
    opacity: 0;
}

#comp_smart_filter {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
}

.item-images {
    position: relative;
}

.item-images .old-bage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background: #f02424;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: 12;
}

.product-item {
    padding: 10px 15px 150px 15px;
    border-top: none;
    display: block;
    flex: 0 0 21%;
    position: relative;
}

.product-item::after {
    content: "";
    /* border: 1px solid #e8e8e8; */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: -1px;
    z-index: -1;
}

.product-item .item-scu {
    color: #a5a5a5;
    font-size: 13px;
    margin-bottom: 20px;
    text-align: left;
}

.product-item .item-scu span {
    background: #86b817;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    line-height: 1;
    padding: 5px 4px 3px 4px;
}

.product-item .item-title a {
    text-decoration: none;
    color: #202326;
    font-weight: 700;
    line-height: 1.35;
    padding: 0;
    margin: 0;
    display: block;
    font-size: 15px;
}

.product-item .item-title {
    margin-bottom: 5px;
}

.product-item .item-text a {
    color: #a3a9ad;
    text-decoration: none;
}

.product-item .item-prices {
    line-height: 16px;
    margin-bottom: 18px;
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: calc(50% - 15px);
}

.product-item .item-prices .item-price {
    font-size: 16px;
    color: #15aad2;
    font-weight: 700;
    display: block;
}

.product-item .item-prices .item-old {
    font-size: 14px;
    color: #a3a9ad;
    text-decoration: line-through;
    display: block;
    margin-bottom: 5px;
}

.product-item .item-links .btn {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    font-size: 12px;
}

.product-item .item-links {
    text-align: right;
    position: absolute;
    right: 15px;
    bottom: 10px;
    width: calc(50% - 15px);
}

.product-item .in-stock {
    color: #383838;
    padding-left: 12px;
}

.product-item .in-stock-label {
    display: none;
}

.product-item .item-images {
    text-align: center;
}

.product-item .item-images .btn {
    margin-top: 15px;
}

#spagination {
    margin: 25px 0 0 0;
    display: flex;
    width: 100%;
}

#spagination .pagination {
    margin: 0;
}

#spagination .pagination li:first-of-type a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#spagination .pagination li:last-of-type a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#spagination .blog-page-navigation {
    text-align: right;
}

#spagination .bootstrap-select {
    max-width: 64px;
}

#spagination .bootstrap-select .btn {
    border-radius: 3px;
}

#spagination .count form {
    padding-left: 15px;
    padding-right: 15px;
}

#spagination .count form {
    width: 94px;
}

#spagination .count {
    display: flex;
    align-items: center;
}

#spagination .bootstrap-select .btn:after {
    display: none;
}

#spagination .bootstrap-select .btn .caret {
    border: none;
    margin-top: 0;
    top: 5px;
    right: 20px;
}

#spagination .bootstrap-select .btn .caret::after {
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #2c2c2c;
}

.product-item .list-group {
    margin-top: 15px;
}

.product-item .list-group li {
    padding-top: 3px;
    padding-bottom: 3px;
}

.product-item .rating {
    bottom: 45px;
    left: 15px;
    /*position: absolute;*/
}

@media screen and (max-width: 767px) {
    #comp_smart_filter {
        gap: 0px;
    }

    html body:not(.pos_page.search) #smart_filter .filter-parameters-content a::before {
        font-size: 18px !important;
        top: 4px;
    }

    html body:not(.pos_page.search) #smart_filter .filter-parameters-content a.checked::before {
        content: "\f14a";
    }

    html body:not(.pos_page.search) #search-close {
        display: flex;
    }

    html body.pos_page.search .bdbw .col-sm-12 + .col-sm-12,
    html body.pos_page.search #header-top-links {
        display: none !important;
    }

    html body:not(.pos_page.search) .bcb .stwp {
        margin-top: 0;
    }

    body:not(.pos_page.search) #ui-id-1 {
        display: none !important;
    }

    html body:not(.pos_page.search) #filterModal .modal-body {
        overflow: auto;
        max-height: calc(100vh - 20px);
    }

    html body:not(.pos_page.search) .lv-1:not(.open) > a::after {
        display: none !important;
    }

    html body:not(.pos_page.search) .tnw {
        border-top: none;
        border-bottom: none;
    }

    html body:not(.pos_page.search) .tnw .sw {
        display: none;
    }

    html body:not(.pos_page.search) input:checked + .sw {
        display: block;
        position: fixed;
        z-index: 12000 !important;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 0;
        padding: 0;
    }

    body:not(.pos_page.search) .sw .input-group.qr {
        width: calc(100% - 50px) !important;
    }

    body:not(.pos_page.search) .product-list.col-md-9 {
        clear: both;
        float: none;
    }

    body:not(.pos_page.search) .cma {
        width: 50%;
        float: right;
    }

    body:not(.pos_page.search) .bdbw {
        margin-bottom: 0;
    }

    body:not(.pos_page.search) .bdbw > .col-lg-4 {
        width: 50% !important;
    }

    body:not(.pos_page.search) .sw .input-group.qr + label {
        color: #383838 !important;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 10;
        border-radius: 4px;
        border: 1px solid #e5e5e5 !important;
    }

    html body:not(.pos_page.search) input:checked + .sw > div {
        padding: 15px;
        background: #fff;
        position: relative;
    }

    html body:not(.pos_page.search) #search-open {
        display: flex;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        align-items: center;
        justify-content: center;
        z-index: 50;
    }

    html body:not(.pos_page.search) #search-open > span {
        color: #383838 !important;
    }

    html h1 {
        font-size: 14px;
        margin: 0;
        padding: 12px 15px 11px 15px;
        color: #383838;
        box-sizing: content-box;
        height: 35px;
        overflow: hidden;
    }

    html .grid-list,
    html .product-item .item-text {
        display: none !important;
    }
    html .bcb #compare-sort .sort {
        width: 100%;
    }
    .product-item {
        padding-bottom: 135px;
    }
    .product-item .item-links {
        left: auto;
        right: auto;
        position: static;
        text-align: left;
    }
    .product-item .item-links .btn {
        left: 15px;
        bottom: 15px;
        border-radius: 3px;
        position: absolute;
        width: calc(100% - 30px);
        display: block;
        text-align: center;
        box-sizing: border-box;
    }
    .product-item .rating {
        bottom: 130px;
    }
    .product-item .item-prices {
        bottom: 110px;
    }
    .product-item .item-links,
    .product-item .item-prices {
        width: 100%;
        margin-top: 10px;
        text-align: left;
    }
    .product-item .item-links .btn.btn-oneclick {
        bottom: 65px;
    }
    .product-item .item-links .btn {
        margin-top: 0;
    }
    .product-item .item-text a,
    .product-item .item-title a {
        word-wrap: break-word;
    }
    .product-item .item-links .btn {
        padding-left: 15px;
        padding-right: 15px;
    }
    html .product-item .item-scu span {
        margin-left: 0;
        margin-top: 5px;
        clear: both;
        display: block;
        max-width: 85px;
    }
    html .tnw .sw {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .tnw .dw .navbar-default.header-top-links > div.navbar-header > button {
        display: none;
    }
    html #columns {
        margin-top: 0;
    }
    #header-top-links {
        min-height: auto;
    }
    #header-top-links > .navbar-collapse {
        display: block !important;
    }
    .products-list > .cma.col-md-3 {
        margin-bottom: 0;
    }
    html .bcb.row {
        margin-bottom: 0;
    }
    .bcb #compare-sort .grid-list {
        text-align: left;
    }
    .bcb #compare-sort .grid-list a {
        margin-left: 5px;
    }
    .bcb #compare-sort .grid-list a#grid-toogle:first-of-type {
        margin-left: 10px;
    }
    #compare-sort > .sort .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
        max-width: 100%;
        height: 40px;
    }
    #compare-sort,
    #compare-sort .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) .btn {
        height: 40px;
    }
    .bcb .sort .bootstrap-select .btn .caret {
        top: 11px;
    }

    html body:not(.catalog) #columns .row.bcb {
        margin-top: 15px;
    }

    #compare-sort > .sort > label,
    body:not(.pos_page.search) .bcb .bnav,
    body:not(.pos_page.search) .bdbw .col-lg-8 {
        display: none;
    }

    .bootstrap-select.btn-group .btn .filter-option::before {
        content: "⇅ ";
    }

    .bcb .sort .bootstrap-select .btn {
        padding-left: 0;
    }

    #smart_filter {
        margin-top: -80px;
    }

    #smart_filter > button {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 15px 0 0;
        text-align: left;
        font-size: 14px;
        background: transparent !important;
    }
    #acm {
        display: none;
    }
    .page .tnw .dw {
        display: block !important;
    }
    .page .tnw .dw a {
        color: #383838 !important;
    }
    html .tnw .lv-1.dropdown,
    html .tnw .nav {
        width: 100%;
        margin: 0;
    }
    html .tnw .lv-1.dropdown > a {
        position: relative;
        color: transparent !important;
        text-indent: -999em !important;
        font-size: 0 !important;
        line-height: 0 !important;
    }
    html .tnw .lv-1.dropdown > a::before {
        font-size: 14px !important;
        display: block;
        content: attr(data-title);
        color: #383838;
        text-indent: 0 !important;
        line-height: 18px !important;
    }
    #header-top-links.navbar-default .dropdown-m-menu {
        padding: 0;
        display: block;
        float: none;
        width: 100%;
    }
    #header-top-links.navbar-default button + .dropdown-m-menu {
        display: none;
    }
    #header-top-links.navbar-default ul li {
        position: relative;
        padding: 0;
        margin: 0;
    }
    #header-top-links.navbar-default .navbar-nav > .active > a,
    #header-top-links.navbar-default .navbar-nav > .open > a {
        box-shadow: none;
    }
    #header-top-links.navbar-default .navbar-nav button[data-toggle="dropdown"] {
        border: none;
        border-radius: 0;
        background: 0 0;
    }
    #header-top-links.navbar-default .navbar-nav button[data-toggle="dropdown"] span {
        display: none;
    }

    #header-top-links.navbar-default .navbar-nav > .lv-1.dropdown > a {
        padding-left: 40px;
    }

    #header-top-links.navbar-default .navbar-nav > .lv-1.dropdown .caret::after {
        font: normal normal normal 14px/1 FontAwesome !important;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f104";
        display: flex;
        align-items: center;
        justify-content: center;
        color: #383838 !important;
        height: 40px;
        width: 40px;
        text-indent: 0;
    }
    #header-top-links.navbar-default .navbar-nav > .lv-1.dropdown.open .caret::after {
        content: "\f107";
    }
    #header-top-links.navbar-default .navbar-nav button[data-toggle="dropdown"]::after {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f107";
    }
    #header-top-links.navbar-default ul li > a {
        width: 100%;
        font-weight: 400;
        text-transform: none;
        font-size: 14px;
        padding: 12px 35px 12px 15px;
        background: 0 0;
        height: auto;
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        cursor: pointer;
        position: relative;
    }
    #header-top-links.navbar-default ul li li > a {
        padding-left: 30px;
    }
    #header-top-links.navbar-default ul li li li > a {
        padding-left: 45px;
    }
    #header-top-links.navbar-default ul li li li li > a {
        padding-left: 60px;
    }
    #header-top-links.navbar-default ul li li li li li > a {
        padding-left: 75px;
    }
    #header-top-links.navbar-default ul li > a::after {
        border-bottom: 1px solid #c1c1c1;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        display: block;
    }

    #header-top-links.navbar-default .navbar-nav > .lv-1.dropdown .caret,
    #header-top-links.navbar-default .navbar-toggle {
        z-index: 40;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        outline: 0;
        width: 40px;
        height: 40px;
    }
    .page .tnw {
        padding: 0;
    }

    #header-top-links.navbar-default button[aria-expanded="true"] + .dropdown-m-menu {
        display: block;
    }
    .product-item {
        width: 50%;
        flex: none;
    }
    #spagination .blog-page-navigation,
    #spagination .pagination {
        width: 100%;
    }
    #spagination .blog-page-navigation li {
        display: inline-block;
        width: 48%;
        margin: 0 1%;
    }
    #spagination .blog-page-navigation li a {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .product-item {
        flex: 0 0 31%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1544px) {
    .product-item {
        flex: 0 0 31%;
    }
}
@media screen and (max-width: 1199px) {
    #spagination .count form + span {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    body .bcb.row {
        margin-left: calc(25% + 12px);
    }
}

@media screen and (max-width: 991px) {
    .cma {
        margin-top: 0 !important;
    }
    .products-list .col-md-3,
    .products-list .col-md-9 {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .products-list .col-md-3 {
        padding-right: 0;
    }
}

@media screen and (max-width: 1199px) {
    .products-list .col-md-3 {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .row.bcb,
    .row.products-list {
        margin-right: 0;
    }
    .products-list .item-images a.piiw {
        min-height: 253px;
        display: block;
    }
}
